@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="assets_admin/ico/favicon.png">
    <title>Goto Da Nang - Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1 user-scalable=no">
    <script type="text/javascript">
        document.location.replace('/admin');
    </script>
</head>
<body onload="">
    <div>
        <center>
            <h3>Goto Da Nang</h3>
        </center>
    </div>
</body>
</html>